@import "tailwindcss";

@theme {
  --color-primary: #035382;
  --color-primary-hover: #075985;

  --color-ink: #1D293D;
  --color-ink-secondary: #475467;
  --color-ink-muted: #667085;

  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;

  --color-success: #16A34A;
  --color-error: #DC2626;
}